spring:
  application:
    name: fixlog

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}      # 환경 변수로 대체
            client-secret: ${GOOGLE_CLIENT_SECRET} # 환경 변수로 대체
            scope:
              - profile
              - email

  datasource:
    url: jdbc:postgresql://192.168.56.102:5432/apj_db
    username: ${DB_USERNAME} # 환경 변수로 대체
    password: ${DB_PASSWORD} # 환경 변수로 대체 (PGPASSWORD 대신 DB_PASSWORD 선호)
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  servlet:
    context-path: /fixlog

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs